.done {
  color: #a1a1a1 !important;
  text-decoration: line-through;
}

/* .done ::after {
  position: absolute;
  content: "";
  left: 10px;
  top: 45%;
  right: 55px;
  border-top: 3px solid;
  border-color: #38383881;
} */

.todoContent {
  border: 0px !important;
}

.todoContent:focus-within > div > .form-control {
  outline-style: dashed !important;
  outline-color: #0065ccc2 !important;
  outline-offset: -3px !important;
  cursor: text !important;
}

.todoContent:focus-within > .input-group-prepend > .input-group-text {
  outline-style: dashed !important;
  outline-color: #0065ccc2 !important;
  outline-offset: -3px !important;
  cursor: text !important;
}

.todoContent button {
  display: none;
}

.todoContent:hover button {
  display: flex !important;
}

.todoContent:focus-within button {
  display: flex !important;
  outline-color: #0065ccc2 !important;
}

.todoContent:hover > div > .form-control {
  outline-style: dashed !important;
  outline-color: #0065cc45 !important;
  outline-offset: -3px !important;
  cursor: pointer;
}

.todoContent > .input-group-prepend > .input-group-text {
  background-color: transparent;
  border: none;
}

.todoContent > .input-group-prepend > .input-group-text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todoContent:hover > .input-group-prepend > .input-group-text {
  outline-style: dashed !important;
  outline-color: #0065cc45 !important;
  outline-offset: -3px !important;
  cursor: pointer;
}

.deleteBtn {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline-style: dashed !important;
  border: none !important;
  outline-color: #0065cc45 !important;
  margin: 0px !important;
  border-radius: 0px !important;
  outline-offset: -3px !important;
  vertical-align: middle !important;
  text-align: center !important;
  background-color: transparent !important;
  color: #fa00007d !important;
}

.todoContent:hover > .deleteBtn {
  outline-style: dashed !important;
  outline-color: #0065cc45 !important;
  outline-offset: -3px !important;
  cursor: pointer;

  font-size: 120%;
}
